.footer{
    background-color: white;
    position: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    }
    .col-md-4 h6{
    font-weight: bolder;
    color: #001233;
    list-style: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }
    .col-md-4{
    text-align: center;
    align-items: center;
    }
    .col-md-4 h4{
    color: #001233;
    font-size: 40px;
    padding-top: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    }
